
.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#game-container {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    /* background-image: url(1000_F_369917263_w4o5m71FguFKGfJcOwFmcxfORB9fIBW4.jpg); */
}

#cell-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
#restartBtn {
    padding: 10px 30px 10px 30px;

}